.projectContainer{
  width:100%;
  min-height: 150px;
  height:auto;

  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.05s ease-in-out;

  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
}

.projectContainer:hover{
  transition: 0.07s ease-in-out;
  border-width: 1px;
}

.imgSectionBefore{
  display: flex;
  width: 30%;
  justify-content: center;
  align-items: center;
}

.imgSectionAfter{
  display: none;
  width: 100%;
  margin-top: 9px;
  justify-content: left;
}

.imgContainer{
  width: 80%;
  border: solid;
  border-width: 3px;
  border-color: rgba(48, 54, 65, 0.651);
  border-radius: 6px;
}

.descSection{
  width: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.techList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

@media(max-width: 768px) {
  .projectContainer{
    flex-direction: column;
    margin-bottom: 90px;
  }
  .imgSectionBefore{
    display: none;
  }
  .imgSectionAfter{
    display: flex;
  }
  .imgContainer{
    width: 70%;
  }
  .descSection{
    width: 100%;
    padding: 0px;
  }
  p{
    margin-bottom: 0px;
  }
}