.menu{
  width:max(20%, 160px);
  height:100%;
  background-color: var(--colour-four);
  backdrop-filter: blur(1px);
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  right: 0;

  border: solid;
  border-width: 1px;
  border-color: #2d76f318;

  z-index: 9999;
}

.menu:hover{
  width: max(25%, 200px);
  background-color: #2d76f33b;
  backdrop-filter: blur(2px);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.205);
  transition: 0.3s ease-in-out;
}

a{
  text-decoration: none;
  color: inherit;
  width: inherit;
  height: inherit;
}

li{
  list-style: none;
}

ul{
  padding: 0px;
}

.link{
  padding: 5px;
  font-size: 12pt;
  text-align: center;
  transition: 0.1s ease-in-out;
}

.link:hover{
  color: var(--colour-two);
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.socialLinks{
  padding-bottom: 12px;
  
  position: fixed;
  bottom: 0;
}

@media(max-width: 768px) {
  .menu{
    display:none
  }
}
