.menu{
  width:20%;
  height:100%;
  background-color: rgba(255, 0, 255, 0.158);
  backdrop-filter: blur(1px);
  transition: 0.3s ease-in;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  right: 0;

  z-index: 9999;
}

.menu:hover{
  width: 25%;
  background-color: rgba(255, 0, 255, 0.384);
  backdrop-filter: blur(2px);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.205);
  transition: 0.3s ease-in-out;
}

a{
  text-decoration: none;
  color: inherit;
  width: inherit;
  height: inherit;
}

li{
  list-style: none;
}

ul{
  padding: 0px;
}

.link{
  padding: 5px;
  font-size: 12pt;
  text-align: center;
}

.link:hover{
  color: magenta;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.externalLinks{
  height: auto;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 12px;
  
  position: fixed;
  bottom: 0;
}

.externalLink{
  height: 26px;
  width: 26px;
  background-color: none;
  margin: 12px;
  cursor: pointer;
}

.externalLink:hover{
  filter: invert(85%) sepia(44%) saturate(2152%) hue-rotate(185deg) brightness(108%) contrast(103%);
}

.logo{
  width: inherit;
  height: inherit;
}
