body{
  font-family: monospace;
  font-size: 13;
  background-color: #171a1f;
  color:#c6cdd8;
}


.main{
  width: 80%;
  height: 1000px;
}

.mainContent{
  width: min(120ch, 100%);
  margin-inline: auto;
  display: block;
  z-index: 1;

  padding-top: 60px;
}

h1{
  font-size: 60pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #a7c5f7;
}
h2{
  margin: 0;
  padding: 0;
}