:root{
  --colour-one: rgba(23, 26, 31, 1);
  --colour-two: #2d76f3;
  --colour-three: #a7c5f7;
}

body{
  margin: 0;
  font-family: monospace;
  font-size: 11pt;
  background-color: var(--colour-one);
  color:#b7c0ca;
}

.main{
  width: 80%;
  height: 1000px;
  position: relative;
  font-size: inherit;
}

.mainContent{
  width: min(105ch, 100%);
  margin-inline: auto;
  display: block;
  z-index: 1;
  font-size: inherit;
  padding-top: 100px;
}

h1{
  font-size: 60pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #a7c5f7;
  animation: h1Load 0.6s ease-in-out;
  position: relative;
  left: 0px;
}

@keyframes h1Load {
  from{
    color: var(--colour-one);
    left: 200px;
  }
}

h2{
  padding-top: 0px;
  padding-bottom: 10px;
  margin:0;
  position: relative;
  left: 0px;
  font-size: 15pt;

  color: var(--colour-two);
  animation: h2Load 0.6s ease-in-out;
}

@keyframes h2Load {
  from{
    color: var(--colour-one);
    left: 200px;
  }
}

.section{
  padding-top: 70px;
  padding-bottom: 50px;
  font-size: inherit;
}