:root{
  --colour-one: #171a1f;
}

body{
  margin: 0;
  font-family: monospace;
  font-size: 13;
  background-color: var(--colour-one);
  color:#c3cad4;
}

.main{
  width: 80%;
  height: 1000px;
  position: relative;
}

.mainContent{
  width: min(120ch, 100%);
  margin-inline: auto;
  display: block;
  z-index: 1;

  padding-top: 80px;
}

h1{
  font-size: 60pt;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #a7c5f7;
  animation: h1Load 0.6s ease-in-out;
  position: relative;
  left: 0px;
}

@keyframes h1Load {
  from{
    color: var(--colour-one);
    left: 200px;
  }
}

h2{
  padding-top: 0px;
  padding-bottom: 40px;
  margin:0;
  position: relative;
  left: 0px;

  color: #06b100;
  animation: h2Load 0.6s ease-in-out;
}

@keyframes h2Load {
  from{
    color: var(--colour-one);
    left: 200px;
  }
}

.section{
  padding-top: 40px;
  padding-bottom: 40px;
}